parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests
        - src/DependencyInjection/
        - src/GA4MeasurementProtocolBundle.php
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Method Freema\\GA4MeasurementProtocolBundle\\Provider\\DefaultSessionIdHandler::buildSessionId\(\) should return#'
            path: src/Provider/DefaultSessionIdHandler.php