parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests
        - src/DependencyInjection/
        - src/GA4MeasurementProtocolBundle.php
    ignoreErrors:
        -
            identifier: missingType.iterableValue